body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.penAttr {
  background-color: aquamarine;
  width: 120px;
  }

  .catAttr{
    background-color: rgb(127, 176, 255);
    width: 120px;
  }
  .h2{
    color:bisque;
  }
  
